@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

p, table, a, input{
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}




